.quality-certificates
  &__head
    color: #000
    max-width: 1050px
    width: 100%
    text-align: center
    margin-left: auto
    margin-right: auto
    margin-bottom: 40px

    @media (max-width: 767px)
      margin-bottom: 25px

  &__title
    font-size: 35px
    font-weight: 700
    line-height: 1.2
    margin-bottom: 20px

    @media (max-width: 767px)
      font-size: 22px

  &__container
    .swiper-wrapper
      padding-bottom: 65px

  &__item
    text-align: center

  &__img
    display: inline-block
    vertical-align: top
    border: 5px solid #fff
    border-radius: 10px
    overflow: hidden

    img
      vertical-align: top