html, body
  margin: 0
  padding: 0

html
  min-height: 100%
  min-height: 100vh

body
  background-color: #F3EEE7

.app
  display: flex
  flex-direction: column
  height: 100%
  height: 100vh

  &__wrapper
    display: flex
    flex-direction: column
    min-height: 100%
    min-height: 100vh

  &__content
    display: flex
    flex: 1 0 auto

  &__main
    flex: 1

*
  outline: none !important

strong
  font-weight: 700

.contain
  max-width: 1170px + 20px + 20px
  width: 100%
  padding-right: 20px
  padding-left: 20px
  margin: 0 auto

.button-general
  font-size: 18px
  color: #fff
  font-weight: 700
  line-height: 1.1
  text-align: center
  text-decoration: none
  background-color: transparent
  padding: 23px 30px
  border-radius: 100px
  background-image: linear-gradient(180deg, #B8D835 0%, #4FC300 100%)
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.3), inset 0px -4px 10px rgba(150, 255, 63, 0.5)
  border: none
  cursor: pointer

  @media (max-width: 767px)
    font-size: 16px

  &--icon
    display: flex
    align-items: center
    justify-content: center

    .svg-icon
      margin-right: 20px

  &--outline
    color: #000
    background-image: none
    background-color: rgba(255, 255, 255, 0.2)
    border: 1px solid #C9C9C9
    box-shadow: none

.blocks-section
  padding-top: 80px
  padding-bottom: 80px

  @media (max-width: 1279px)
    padding-top: 30px
    padding-bottom: 30px

.swiper-pagination
  bottom: 0 !important

.swiper-pagination-bullet
  width: 17px
  height: 17px
  background-color: #DED6CB
  opacity: 1
  margin-left: 0 !important
  margin-right: 25px !important

  &:last-child
    margin-right: 0 !important

  &.swiper-pagination-bullet-active
    background-color: #FF9F2E