.building-technology
  &__head
    max-width: 610px
    width: 100%

    @media (max-width: 959px)
      text-align: center
      margin-left: auto
      margin-right: auto
      padding-top: 20px

  &__title
    font-size: 35px
    color: #000
    font-weight: 700
    line-height: 1.2
    margin-bottom: 40px

    @media (max-width: 959px)
      margin-bottom: 25px

    @media (max-width: 767px)
      font-size: 22px

  &__cols
    display: flex

    @media (max-width: 959px)
      display: block

  &__col
    width: 60%

    @media (max-width: 959px)
      width: 100% !important
      margin-bottom: 30px

    &--video
      width: 40%
      margin-left: 30px

      @media (max-width: 959px)
        margin-left: 0
        margin-bottom: 0

  &__container
    .swiper-wrapper
      @media (min-width: 960px)
        display: block

      @media (max-width: 959px)
        padding-bottom: 55px

    .swiper-pagination
      @media (min-width: 960px)
        display: none !important

  &__item
    margin-bottom: 23px
    display: flex

    @media (max-width: 959px)
      margin-bottom: 0
      height: auto

    &:last-child
      margin-bottom: 0

  &__body
    background-color: #FFFFFF
    border-radius: 30px
    display: flex
    align-items: center
    padding: 25px

    @media (max-width: 959px)
      display: block

  &__img
    flex: 0 0 118px
    width: 118px
    max-width: 118px
    border-radius: 20px
    overflow: hidden
    margin-right: 25px

    @media (max-width: 959px)
      width: 100%
      max-width: 100%
      height: 220px
      margin-bottom: 20px

    img
      width: 100%
      height: 100%
      vertical-align: top
      object-fit: cover
      object-position: 50% 50%

  &__text
    font-size: 18px
    color: #000
    font-weight: 400
    line-height: 1.3

    @media (max-width: 479px)
      font-size: 16px

  &__video
    position: relative
    border-radius: 30px
    overflow: hidden
    height: 100%

    @media (max-width: 959px)
      height: 320px

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.5)

  &__video-img
    border-radius: 30px
    overflow: hidden
    height: 100%

    img
      width: 100%
      height: 100%
      vertical-align: top
      object-fit: cover

  &__control
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 3
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center

  &__button-play
    font-size: 18px
    color: #FFF
    font-weight: 400
    line-height: 1.1
    width: 180px
    border: none
    background-color: transparent
    text-align: center
    padding: 0
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto
    cursor: pointer
    transform: translateY(50%)

    @media (max-width: 479px)
      transform: translateY(25%)

    &:hover
      i
        &:before
          width: 100%
          height: 100%

    i
      width: 103px
      height: 103px
      display: block
      background-color: rgba(255, 255, 255, 0.2)
      border: 1px dashed rgba(255, 255, 255, 0.38)
      border-radius: 50%
      margin-bottom: 20px
      position: relative

      &:before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 73px
        height: 73px
        background-image: linear-gradient(180deg, #FFA723 0%, #D9351F 100%)
        box-shadow: 0px 10px 20px rgba(219, 61, 31, 0.5)
        border-radius: 50%
        transition: width 0.3s, height 0.3s, ease 0.3s

      &:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 17px
        height: 18px
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5155 6.40372C16.5114 7.55921 16.5114 10.4408 14.5155 11.5963L4.50312 17.3929C2.50312 18.5508 1.07213e-06 17.1077 1.17314e-06 14.7967L1.6799e-06 3.20334C1.78092e-06 0.892345 2.50311 -0.550831 4.50311 0.607062L14.5155 6.40372Z' fill='white'/%3E%3C/svg%3E%0A")

  &__note
    font-size: 14px
    color: #C4C4C4
    font-weight: 400
    line-height: 1.4
    text-align: center
    margin-top: 55px
    margin-bottom: 25px

    @media (max-width: 479px)
      margin-top: 30px