= yaml =
pageTitle: БАНИНО | Строительство и доставка мобильных бань с доставкой по всей России
bodyClasses:
layout: !!map
  header: true
  footer: true
  left: false
  right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

  <div class="blocks-section">

    {% include "steps.html" %}
    
    {% include "catalog-preview.html" %}

  </div>

  {% include "project-preview.html" %}
  
  <div class="blocks-section">

    {% include "building-technology.html" %}

    {% include "advantages.html" %}

    {% include "catalog-projects.html" %}

    {% include "specialist-advice.html" %}
  
  </div>

  {% include "project-details.html" %}

  <div class="blocks-section blocks-section--type2">

    {% include "reviews-clients.html" %}
    
    {% include "production-info.html" %}
    
  </div>

  <div class="blocks-section">

    {% include "quality-certificates.html" %}
    
    {% include "advantages-product.html" %}
    
    {% include "all-guarantee.html" %}

  </div>

{% endblock %}
